<style>

</style>

<div class="pull-right" style="margin:50px 30px 30px 0;">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-primary") %>
</div>


<table class="table table-boldered">
  <thead>
 <th>Title</th>
 <th>薪资上限</th>
 <th>薪资下限</th>
 <th>Email</th>
 </thead>
  <% @jobs.each do |job| %>
  <tr>
    <br>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.wage_lower_bound %>
    </td>
    <td>
      <%= job.contact_email %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(job), class:"btn btn-xs btn-default") %>
      <%= link_to("Delete", job_path(job), class:"btn btn-xs btn-default", :method => :delete, :data => {:confirm => "Are you sure?"}) %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
