<br />
<div class="col-md-8 col-md-offset-2" style="margin-bottom:30px;">
  <%= render :partial => "jobs/search_bar" %>
</div>
<div class="btn-group pull-right" role="group" aria-label="排序" >
      <%= link_to("按照薪水下限排序", jobs_path(:order => "by_lower_bound"), :class=>"btn btn-default") %>
      <%= link_to("按照薪水上限排序", jobs_path(:order => "by_upper_bound"), :class=>"btn btn-default") %>
      <%= link_to("按照发布时间排序", jobs_path, :class=>"btn btn-default") %>
</div>
<br />
<br />
<div class="col-md-12" >
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
      <li>
        <%= link_to(jishu_index_path) do %>技术 <% end %>
      </li>
      <li>
        <%= link_to(chanpin_index_path) do %>产品<% end %>
      </li>
      <li>
        <%= link_to(sheji_index_path) do %>设计<% end %>
      </li>
      <li>
        <%= link_to(yunying_index_path) do %>运营<% end %>
      </li>
      <li>
        <%= link_to(shichang_index_path) do %>市场<% end %>
      </li>
      <li>
        <%= link_to(guanli_index_path) do %>管理<% end %>
      </li>
    </ul>
        <table class="table table_boldered table-hover table-responsive">
          <thead>
            <tr class="info">
              <th>职位简介</th>
              <th>公司简介</th>
              <th>发布时间</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
            <tr>
              <td>
              <%= link_to(job.title, job_path(job), :class =>"job-title") %>
                <br />
                <br />
                <span class="red"><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></span>
                <br />
                <br />
                <span class="job-address">
                  <%= job.address %>
                </span>|
                <span class="job-experience">
                  <%= job.experience %>
                </span>|
                <span class="job-education">
                  <%= job.education %>
                </span>
              </td>
              <td>
                <%= content_tag(:span, job.company, class:"job-company") %>
              </td>
              <td>
                <%= local_time(job.created_at, '%m/%e/%Y') %>
              </td>
            </tr>
            <% end %>
           </tbody>
        </table>
    <br />
    <br />
    <br />
  </div>
</div>
<br />
<hr />
<br />
<div class="text-center">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
