<h1>发布工作职位</h1>
<br />
<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "职位名称" %>
<%= f.input :description, :label => "职位详情" %>
<%= f.input :require_skill, :label => "技能要求" %>
<%= f.input :wage_upper_bound, :label => "薪水上限" %>
<%= f.input :wage_lower_bound, :label => "薪水下限" %>
<%= f.input :company, :label => "公司介绍" %>
<%= f.input :contact_email, :label => "联系邮箱" %>
<%= f.input :is_hidden %>

<%= f.submit "Submit" %>
<% end %>
