<br />
<%= render :partial => "jobs/search_bar" %>
<div class="dropdown clearfix pull-right">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("按照薪水下限排序", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("按照薪水上限排序", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("按照发布时间排序", jobs_path) %>
    </li>
  </ul>
</div>
<br />
<br />
<table class="table table_boldered table-hover table-responsive">
  <thead>
    <tr class="info">
      <th>职位名称</th>
      <th>薪水上限</th>
      <th>薪水下限</th>
      <th>发布时间</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to(job.title, job_path(job)) %>
      </td>
      <td>
        <%= job.wage_upper_bound %>
      </td>
      <td>
        <%= job.wage_lower_bound %>
      </td>
      <td>
        <%= local_time(job.created_at, '%m/%e/%Y') %>
      </td>
    </tr>
    <% end %>
   </tbody>
</table>
<br />
<br />
<br />
<div class="text-center">
  <%= link_to("技术", jishu_index_path,class:"btn btn-default ") %>
  <%= link_to("产品", chanpin_index_path,class:"btn btn-primary") %>
  <%= link_to("设计", sheji_index_path,class:"btn btn-info") %>
  <%= link_to("运营", yunying_index_path,class:"btn btn-success") %>
  <%= link_to("市场", shichang_index_path,class:"btn btn-warning") %>
  <%= link_to("管理", guanli_index_path,class:"btn btn-danger") %>
</div>
<br />
<hr />
<br />
<div class="text-center">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
