<br />

<%= link_to("←回工作列表", jobs_path, :class => "underline" )  %>

<br />
<br />


<div class="col-md-6 col-md-offset-3">
  <div class="job-item-title">
    <h2><%= @job.title %></h2>
    <br />
    <h3><%= @job.company %></h3>
    <br />
    <p>工作地点：<%= @job.address %> </p>
    <p>发布日期：<%= local_time(@job.created_at, '%d/%m/%Y') %></p>

    <p>薪资范围：<%= @job.wage_lower_bound  %> ~ <%= @job.wage_upper_bound %>元</p>

  </div>


  <div class="job-item-description">
    <h3>职位详情</h3>
    <p><%= @job.description %></p>
    <br />
    <h3>技能要求</h3>
    <p><%= @job.require_skill %></p>
  </div>


  <div class="text-center">
    <%= link_to("提交简历", new_job_resume_path(@job), :class => "btn btn-block btn-info") %>
  </div>

</div>
