<div class="pull-right">
  <%= link_to("发布工作职位", new_admin_job_path, :class => "btn btn-info") %>
</div>

<br />
<br />
<br />

<table class="table table-boldered">

  <thead>
    <tr class="info">
      <th>
        职位
      </th>
      <th>
        简历数量
      </th>
      <th>
        薪水上限
      </th>
      <th>
        薪水下限
      </th>
      <th>
        发布日期
      </th>
      <th>
        管理
      </th>
    </tr>


  </thead>

  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= render_job_status(job) %>

      <%= link_to(job.title, admin_job_path(job)) %>
    </td>
    <td>
      <%= link_to(job.resumes.count, admin_job_resumes_path(job))  %>
    </td>
    <td>
      <%= job.wage_upper_bound %>
    </td>
    <td>
      <%= job.wage_lower_bound %>
    </td>
    <td>
      <%= local_time(job.created_at, '%b %e, %Y') %>
    </td>
    <td>
      <%= link_to edit_admin_job_path(job), :class => "btn btn-xs btn-info" do %><i class="fa fa-pencil"></i><% end %>
      <%= link_to admin_job_path(job), :method => :delete,:class =>"btn btn-xs btn-danger", :data => {:confirm => "Are you sure?"} do %> <i class="fa fa-trash-o"></i><% end %>
      <% if job.is_hidden %>
      <%= link_to publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-success" do %><i class="fa fa-eye"></i><% end %>
      <% else %>
      <%= link_to hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-warning" do %><i class="fa fa-eye-slash"></i><% end %>
      <% end %>
    </td>

  </tr>
  <% end %>
  </tbody>
</table>

<br />
<br />
<div class="text-center">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
