<nav class="navbar navbar-default" style="margin-bottom: 0; border-radius: 0px;">
	<div class="container-fluid">
		<div class="wrap">

			<div class="navbar-header">
				<a href="/" class="navbar-brand" class="logo" style="font-size: 2em;"><img src='<%= image_url "logo.png" %>'>灵犀招聘</a>
			</div>

			<div class="city">
				<ul class="nav navbar-nav">
					<li style="font-size: 0.8em; margin-top: 1.5em;">上海</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 0.8em; margin: auto;" >[切换城市]<span class="caret"></span></a>
						<ul class="dropdown-menu" id="bootstrap-override-1">
							<ul class="list-inline" style="30px;">
								<li><%= link_to("全国", jobs_path, class: "bootstrap-override-2") %></li>
								<li><%= link_to("北京", beijing_index_path, class: "bootstrap-override-2") %></li>
								<li><%= link_to("上海",shanghai_index_path, class: "bootstrap-override-2") %></li>
								<li><%= link_to("深圳",shenzhen_index_path, class: "bootstrap-override-2") %></li>
								<li><%= link_to("广州", guangzhou_index_path, class: "bootstrap-override-2") %></li>
								<li><%= link_to("杭州", hangzhou_index_path, class: "bootstrap-override-2") %></li>
							</ul>
						</ul>
					</div>
					</li>
				</ul>
			</div>

			<div class="navbar-collapse collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-pills" id="nav-1">
					<li><%= link_to("常见问题",problem_path) %></li>
				</ul>

				<ul class="nav navbar-nav pull-right">
					<% if !current_user %>
						<li>
							<%= link_to("注册", new_user_registration_path) %>
						</li>
						<li>
					    	<%= link_to("登录", new_user_session_path) %>
						</li>
					<% else %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<%= current_user.email %><span class="caret"></span>
								<ul class="dropdown-menu">
									<% if current_user.admin? %>
										<li><%= link_to("后台管理区", admin_jobs_path) %></li>
										<li class="divider"></li>
									<% end %>
									<li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
								</ul>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</nav>
